@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100%;
  overflow-x: hidden;
  background: #171a21;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}

.htmlScreen {
  width: 460px;
  height: 460px;
  border: none;
  position: relative;
  overflow: hidden;
}

.website::-webkit-scrollbar {
  display: none;
}

.website {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glow {
  filter: drop-shadow(0px 0px 50px rgba(196, 0, 213, 0.25));
  -webkit-filter: drop-shadow(0px 0px 50px rgba(196, 0, 213, 0.25));
  transition: all 0.33s ease-in-out;
}

.glow:hover {
  filter: drop-shadow(0px 0px 50px rgba(196, 0, 213, 0.5));
  -webkit-filter: drop-shadow(0px 0px 50px rgba(196, 0, 213, 0.5));
}
